name: Update Reddit Comments

on:
  schedule:
    - cron: '0 0 * * 0'  # Runs at midnight (00:00 UTC) every Sunday
  workflow_dispatch:  # Allows the workflow to be triggered manually

jobs:
  update_comments:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Attempt to download the latest database artifact
      uses: actions/download-artifact@v4
      with:
        name: reddit-comments-db
        path: ${{ runner.temp }}/sqlite
      continue-on-error: true  # Continue even if the artifact is not found

    - name: Move database if it exists
      run: |
        if [ -f "${{ runner.temp }}/sqlite/reddit_comments.db" ]; then
          mv "${{ runner.temp }}/sqlite/reddit_comments.db" reddit_comments.db
        fi

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m venv .venv
        .venv/bin/pip install --upgrade pip
        .venv/bin/pip install .

    - name: Run the Reddit comments fetch script
      env:
        CLIENT_ID: ${{ secrets.CLIENT_ID }}
        CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        USER_AGENT: ${{ secrets.USER_AGENT }}
        TARGET_USERNAME: ${{ secrets.TARGET_USERNAME }}
        LIMIT: ${{ secrets.LIMIT }}
        TILL_LAST_COMMENT: true  # Adjust based on whether you want to fetch since the last comment
      run: |
        .venv/bin/python src/fetch_comments.py
    
    - name: Set up Pandoc
      run: |
        sudo apt-get update
        sudo apt-get install -y pandoc texlive-xetex
    
    - name: Install Source Serif
      run: |
        cd $(mktemp -d /tmp/source_serif_4.XXXXXX)
        TEMP_DIR=$(pwd)

        sudo mkdir -p /usr/share/fonts/opentype/source_serif_4/

        wget https://github.com/adobe-fonts/source-serif/releases/download/4.005R/source-serif-4.005_Desktop.zip
        unzip source-serif-4.005_Desktop.zip
        sudo cp source-serif-4.005_Desktop/OTF/*.otf /usr/share/fonts/opentype/source_serif_4/

        sudo fc-cache -f -v

        cd $GITHUB_WORKSPACE
        rm -rf $TEMP_DIR

    - name: Run the markdown generation script
      run: |
        .venv/bin/python src/generate_markdown.py
    
    - name: Commit and push changes if markdown files were created
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"

        echo "Adding files to staging area..."
        git add **/ven_anigha_reddit_archive_* reddit_comments.db --verbose
        echo

        # Check if there are changes to commit
        if git diff --cached --quiet; then
          echo "No changes to commit."
        else
          echo "Committing changes..."
          git commit -m "Update Reddit comments and markdown files" --verbose
          echo

          echo "Latest commit log:"
          git --no-pager log -1 --stat
          echo

          echo "Pushing changes to remote repository..."
          git push origin HEAD:${{ github.ref }} --verbose
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Store database persistently
      uses: actions/upload-artifact@v4
      with:
        name: reddit-comments-db
        path: reddit_comments.db